@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700;800&display=swap");
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  cursor: revert;
}

ol,
ul,
menu {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

textarea {
  white-space: revert;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: "Nunito", helvetica sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  color: #2C2C32;
  transition: 0.5s ease;
}

body .show {
  transform: translateX(-350px);
}

a {
  color: #2C2C32;
  text-decoration: none;
}

p {
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5 h6 {
  font-weight: bold;
}
h1 span, h2 span, h3 span, h4 span, h5 h6 span {
  color: #0066B8;
}

.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.row > * {
  max-width: 100%;
  width: 100%;
  padding: 0.5rem;
}

@media screen and (min-width: 0) {
  .col-xs-1 {
    flex: 0 0 8.3333333333%;
  }
  .col-xs-2 {
    flex: 0 0 16.6666666667%;
  }
  .col-xs-3 {
    flex: 0 0 25%;
  }
  .col-xs-4 {
    flex: 0 0 33.3333333333%;
  }
  .col-xs-5 {
    flex: 0 0 41.6666666667%;
  }
  .col-xs-6 {
    flex: 0 0 50%;
  }
  .col-xs-7 {
    flex: 0 0 58.3333333333%;
  }
  .col-xs-8 {
    flex: 0 0 66.6666666667%;
  }
  .col-xs-9 {
    flex: 0 0 75%;
  }
  .col-xs-10 {
    flex: 0 0 83.3333333333%;
  }
  .col-xs-11 {
    flex: 0 0 91.6666666667%;
  }
  .col-xs-12 {
    flex: 0 0 100%;
  }
}
@media screen and (min-width: 50rem) {
  .col-sm-1 {
    flex: 0 0 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 25%;
  }
  .col-sm-4 {
    flex: 0 0 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 50%;
  }
  .col-sm-7 {
    flex: 0 0 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 75%;
  }
  .col-sm-10 {
    flex: 0 0 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 100%;
  }
}
@media screen and (min-width: 72rem) {
  .col-md-1 {
    flex: 0 0 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 25%;
  }
  .col-md-4 {
    flex: 0 0 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 50%;
  }
  .col-md-7 {
    flex: 0 0 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 75%;
  }
  .col-md-10 {
    flex: 0 0 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 100%;
  }
}
@media screen and (min-width: 96rem) {
  .col-lg-1 {
    flex: 0 0 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 25%;
  }
  .col-lg-4 {
    flex: 0 0 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 50%;
  }
  .col-lg-7 {
    flex: 0 0 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 75%;
  }
  .col-lg-10 {
    flex: 0 0 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 100%;
  }
}
.d--flex {
  display: flex;
}

.d--grid {
  display: grid;
}

.d--block {
  display: block;
}

.text--primary {
  color: #0066B8;
}

.bg--primary {
  background-color: #0066B8;
}

.text--secondary {
  color: #feb45a;
}

.bg--secondary {
  background-color: #feb45a;
}

.text--gray {
  color: #FFFFF9;
}

.bg--gray {
  background-color: #FFFFF9;
}

.text--light {
  color: #2C2C32;
}

.bg--light {
  background-color: #2C2C32;
}

.text--dark {
  color: #ABABAD;
}

.bg--dark {
  background-color: #ABABAD;
}

.mb--1 {
  margin-bottom: 1rem;
}

.gap--1 {
  gap: 1rem;
}

.py--1 {
  padding: 1rem 0;
}

.mb--2 {
  margin-bottom: 2rem;
}

.gap--2 {
  gap: 2rem;
}

.py--2 {
  padding: 2rem 0;
}

.mb--3 {
  margin-bottom: 3rem;
}

.gap--3 {
  gap: 3rem;
}

.py--3 {
  padding: 3rem 0;
}

.mb--4 {
  margin-bottom: 4rem;
}

.gap--4 {
  gap: 4rem;
}

.py--4 {
  padding: 4rem 0;
}

.mb--5 {
  margin-bottom: 5rem;
}

.gap--5 {
  gap: 5rem;
}

.py--5 {
  padding: 5rem 0;
}

.mb--6 {
  margin-bottom: 6rem;
}

.gap--6 {
  gap: 6rem;
}

.py--6 {
  padding: 6rem 0;
}

.text--left {
  text-align: left;
}

.text--right {
  text-align: right;
}

.text--center {
  text-align: center;
}

.justify--start {
  justify-content: flex-start;
}

.align--start {
  align-items: flex-start;
}

.justify--end {
  justify-content: flex-end;
}

.align--end {
  align-items: flex-end;
}

.justify--between {
  justify-content: space-between;
}

.align--between {
  align-items: space-between;
}

.justify--around {
  justify-content: space-around;
}

.align--around {
  align-items: space-around;
}

.justify--center {
  justify-content: center;
}

.align--center {
  align-items: center;
}

.btn {
  background-color: #0066B8;
  color: #FFFFF9;
}
.btn:hover {
  background-color: #0059a1;
}

.btn2 {
  background-color: #FFFFF9;
  color: #2C2C32;
  padding: 0.5rem 0.8rem;
}
.btn2:hover {
  background-color: #0059a1;
}

.header {
  background-color: #2C2C32;
  width: 100%;
  z-index: 999;
  position: fixed;
}
.header__wrapper {
  height: 6rem;
}
@media screen and (min-width: 120rem) {
  .header__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
.header__wrapper .branding {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  width: 30rem;
}
.header__wrapper .branding img {
  width: 3rem;
}
.header__wrapper .branding h3 {
  width: 20rem;
  font-size: 1rem;
}
.header__wrapper .branding h3 a {
  color: #FFFFF9;
  font-size: 1.5rem;
}
.header__wrapper .header__nav {
  position: absolute;
  top: -100rem;
  left: 0;
  background-color: #2C2C32;
  width: 100vw;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  max-height: 36rem;
  z-index: 2;
}
@media screen and (min-width: 120rem) {
  .header__wrapper .header__nav {
    background-color: unset;
    top: 0;
    z-index: unset;
    display: flex;
    position: unset;
    overflow: hidden;
  }
}
@media screen and (min-width: 120rem) {
  .header__wrapper .header__nav ul {
    display: flex;
  }
}
.header__wrapper .header__nav ul li {
  margin: 2rem;
}
@media screen and (min-width: 120rem) {
  .header__wrapper .header__nav ul li {
    margin: 2rem;
  }
}
.header__wrapper .header__nav ul li a {
  color: #FFFFF9;
}
@media screen and (min-width: 120rem) {
  .header__wrapper .header__nav ul li a {
    color: #ABABAD;
    font-size: 1.5rem;
  }
  .header__wrapper .header__nav ul li a:hover {
    color: #FFFFF9;
  }
}
.header__wrapper .header__nav .header__nav2 {
  display: flex;
  flex-direction: column;
  color: #FFFFF9;
  position: relative;
}
@media screen and (min-width: 120rem) {
  .header__wrapper .header__nav .header__nav2 {
    display: grid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0rem;
    height: 100%;
    max-height: 7rem;
    position: relative;
  }
}
.header__wrapper .header__nav .header__nav2 input {
  margin: 0 0 1rem 2rem;
}
.header__wrapper .header__nav .header__nav2 input::-moz-placeholder {
  color: #FFFFF9;
}
.header__wrapper .header__nav .header__nav2 input::placeholder {
  color: #FFFFF9;
}
@media screen and (min-width: 120rem) {
  .header__wrapper .header__nav .header__nav2 input {
    background-color: #3D3D42;
    padding: 1.9rem;
    padding-left: 2.5rem;
  }
}
.header__wrapper .header__nav .header__nav2 a {
  padding: 2rem;
  display: inline-block;
  position: relative;
}
@media screen and (min-width: 120rem) {
  .header__wrapper .header__nav .header__nav2 a {
    font-size: 1.5rem;
    height: 6rem;
    padding: 2rem;
    padding-left: 2.5rem;
  }
  .header__wrapper .header__nav .header__nav2 a .fa-arrow-down {
    position: absolute;
    top: 1rem;
    left: 0.5rem;
  }
}
.header__wrapper .header__nav .header__nav2 .fa-magnifying-glass {
  display: none;
}
@media screen and (min-width: 120rem) {
  .header__wrapper .header__nav .header__nav2 .fa-magnifying-glass {
    display: block;
    position: absolute;
    top: 1rem;
    left: 1.5rem;
  }
}
.header__wrapper .header__nav.open {
  top: 6rem;
  overflow-y: scroll;
}
@media screen and (min-width: 120rem) {
  .header__wrapper .header__nav.open {
    max-height: 36rem;
    overflow-y: hidden;
  }
}
.header__wrapper .toggle__menu {
  position: absolute;
  right: 3rem;
  top: 2rem;
  display: block;
}
@media screen and (min-width: 120rem) {
  .header__wrapper .toggle__menu {
    display: none;
  }
}
.header__wrapper .toggle__menu span {
  width: 3.5rem;
  height: 0.3rem;
  background-color: #FFFFF9;
  margin-bottom: 0.5rem;
  display: block;
  border-radius: 4rem;
  transition: 0.5s ease;
}

.header {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.banner {
  background-color: #2C2C32;
  z-index: -1;
}
.banner__wrapper p {
  color: #FFFFF9;
  text-align: center;
  margin-bottom: 0;
  font-size: 1.5rem;
  padding: 0.5rem 4rem;
}
.banner__wrapper p a {
  color: #188aff;
}
.banner__text__wrapper1 {
  display: grid;
  grid-template-columns: repeat(1.5fr 3fr, 1fr);
  grid-gap: 1rem;
}

.version span:hover {
  text-decoration: underline;
}

.main__banner {
  background-color: #2c2c32;
}
.main__banner .container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem 0;
}
@media screen and (min-width: 501px) {
  .main__banner .container {
    grid-template-columns: 1fr 2fr;
    padding: 3rem 0;
  }
}
.main__banner__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}
.main__banner__wrapper h1 {
  color: #fff;
  text-align: center;
  font-size: clamp(4rem, 4vw, 5rem);
  line-height: 1.2;
  padding: 0 0 1rem;
}
@media screen and (min-width: 501px) {
  .main__banner__wrapper h1 {
    padding: 2rem 0 1rem;
  }
}
.main__banner__wrapper h1 span {
  font-weight: 600;
}
.main__banner__wrapper p {
  font-size: 1.3rem clamp(1.3rem, 2vw, 1.5rem);
  color: #ababad;
}
.main__banner .two__button {
  display: flex;
  align-items: center;
  margin-top: 2.2rem;
  position: relative;
}
.main__banner .two__button a {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #007be0;
  height: 6rem;
  align-items: center;
  justify-content: center;
  margin-right: 0.19rem;
  align-items: center;
  transition: 0.1s ease;
  padding: 0 4rem;
}
@media screen and (min-width: 501px) {
  .main__banner .two__button a {
    padding: 0 2rem;
  }
}
.main__banner .two__button a:hover {
  background-color: #0362af;
}
.main__banner .two__button a h4 {
  font-weight: 600;
  font-size: clamp(1.4rem, 2vw, 1.8rem);
  color: #fff;
}
.main__banner .two__button a small {
  color: #fff;
  font-size: 1.2rem;
}
.main__banner .two__button .holder {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #007be0;
  height: 6rem;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
  cursor: pointer;
  transition: 0.2s ease;
}
.main__banner .two__button .holder i {
  color: #fff;
}
.main__banner .two__button .holder:hover {
  background-color: #0362af;
}
.main__banner .links {
  color: #ababad;
  font-size: clamp(1.2rem, 1vw, 1.4rem);
  background-color: #25252b;
  padding: 0.6rem 4rem;
  border-radius: 0.6rem;
  margin-top: 1.5rem;
  position: relative;
}
@media screen and (min-width: 501px) {
  .main__banner .links {
    padding: 0.6rem 2rem;
  }
}
.main__banner .links::before {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: #25252b;
  top: -0.5rem;
  right: 0.5rem;
  z-index: 1;
  transform: rotate(45deg);
  overflow: hidden;
}
.main__banner .links a {
  color: #007be0;
}
.main__banner .links a:hover {
  text-decoration: underline;
}
.main__banner .main__banner__img {
  padding: 0 2rem;
  margin-right: -2rem;
}
.main__banner .main__banner__lower__text {
  margin: 0.85rem 1.5rem;
}
.main__banner .main__banner__lower__text p {
  font-size: 1.15rem;
  line-height: 1.6;
  text-align: center;
}
.main__banner .main__banner__lower__text p a {
  color: #007be0;
}
.main__banner .main__banner__lower__text p a:hover {
  text-decoration: underline;
}

.icon {
  padding: 0 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  text-align: center;
}
@media screen and (min-width: 501px) {
  .icon {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
  }
}
.icon .icon1 {
  padding: 0.5rem 5rem;
}
.icon .icon1 p {
  font-size: 2rem;
  cursor: pointer;
}
.icon .icon1 i {
  cursor: pointer;
  margin-left: 4rem;
  font-size: 4rem;
  padding: 1rem 0;
}
.icon .icon1:hover {
  background-color: rgb(233, 229, 229);
  color: #144272;
}
.icon .icon2 {
  padding: 0.5rem 5rem;
}
.icon .icon2 p {
  font-size: 2rem;
  cursor: pointer;
}
.icon .icon2 i {
  cursor: pointer;
  margin-left: 4rem;
  font-size: 4rem;
  padding: 1rem 0;
}
.icon .icon2:hover {
  background-color: rgb(233, 229, 229);
  color: #22A39F;
}
.icon .icon3 {
  padding: 0.5rem 5rem;
}
.icon .icon3 p {
  font-size: 2rem;
  cursor: pointer;
}
.icon .icon3 i {
  cursor: pointer;
  margin-left: 4rem;
  font-size: 4rem;
  padding: 1rem 0;
}
.icon .icon3:hover {
  background-color: rgb(233, 229, 229);
  color: #D61355;
}
.icon .icon4 {
  padding: 0.5rem 5rem;
}
.icon .icon4 p {
  font-size: 2rem;
  cursor: pointer;
}
.icon .icon4 i {
  cursor: pointer;
  margin-left: 4rem;
  font-size: 4rem;
  padding: 1rem 0;
}
.icon .icon4:hover {
  background-color: rgb(233, 229, 229);
  color: #323232;
}
@media screen and (min-width: 501px) {
  .icon {
    padding: 0 2rem;
  }
}

.feedback {
  background-color: rgb(233, 229, 229);
  padding: 6rem 0 6rem;
}
.feedback .feed_wrapper {
  display: flex;
  padding: 0 2rem;
}
.feedback .feed_content {
  display: flex;
  position: relative;
  padding-left: 3rem;
}
.feedback .feed_content img {
  border-radius: 12rem;
  height: 6.2rem;
  width: 6.2rem;
  margin: 0 1.5rem;
}
.feedback .feed_text {
  max-height: 99rem;
}
.feedback .feed_text .feed_name {
  display: flex;
  justify-content: space-between;
}
.feedback .feed_text .feed_name i {
  color: gray;
}
.feedback .feed_text h5 {
  font-size: 1rem;
  color: grey;
}
.feedback .feed_text a {
  color: #007be0;
}
.feedback .feed_text a:hover {
  text-decoration: underline;
}
.feedback .tns-outer {
  position: relative;
}
.feedback .tns-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 999;
  min-width: 45rem;
}
.feedback .tns-controls button {
  border: none;
  font-size: 2rem;
}

.purpose {
  overflow: hidden;
}
.purpose__wrapper {
  max-width: 120rem;
  margin: 0 auto;
}
.purpose .items {
  padding: 5rem 3rem;
  margin: 0 auto;
  text-align: center;
}
@media screen and (min-width: 120rem) {
  .purpose .items {
    display: flex;
    text-align: center;
    justify-content: space-between;
  }
}
.purpose .items__image img {
  width: 35rem;
}
.purpose .items__text {
  text-align: left;
}
@media screen and (min-width: 120rem) {
  .purpose .items__text {
    max-width: 60rem;
  }
}
.purpose .items__text h3 {
  font-size: 2rem;
  font-weight: lighter;
  margin: 2rem 0;
}
.purpose .items__text p {
  font-size: 1.7rem;
  line-height: 4rem;
}
.purpose .items__text p a {
  color: #0066B8;
}
.purpose .items__text p a:hover {
  color: #0059a1;
  text-decoration: underline;
}

#debug {
  position: relative;
  background-color: #f5f5f5;
}
@media screen and (min-width: 120rem) {
  #debug {
    background-color: #f5f5f5;
    width: 100%;
    flex-direction: row-reverse;
  }
}
#debug::before {
  content: "";
  width: 100vw;
  height: 100%;
  position: absolute;
  background: #f5f5f5;
  top: 0;
  right: 0;
  left: 0;
  z-index: -2;
}
#debug::after {
  content: "";
  width: 100vw;
  height: 100%;
  position: absolute;
  background: #f5f5f5;
  top: 0;
  right: 0;
  z-index: -1;
}

#extensible {
  position: relative;
  background-color: #f5f5f5;
}
@media screen and (min-width: 120rem) {
  #extensible {
    background-color: #f5f5f5;
    width: 100%;
    flex-direction: row-reverse;
  }
}
#extensible::before {
  content: "";
  width: 100vw;
  height: 100%;
  position: absolute;
  background: #f5f5f5;
  top: 0;
  right: 0;
  left: 0;
  z-index: -2;
}
#extensible::after {
  content: "";
  width: 100vw;
  height: 100%;
  position: absolute;
  background: #f5f5f5;
  top: 0;
  right: 0;
  z-index: -1;
}
#extensible img {
  transition: 0.5s ease;
}
#extensible img:hover {
  transform: scale(1.05);
  transition: 0.5s ease;
}

.get-started {
  background-color: #f5f5f5;
}
.get-started .vs-row {
  text-align: center;
  padding: 3rem 0 3rem;
}
.get-started .vs-row h2 {
  font-size: 3rem;
  font-weight: 100;
}
.get-started .languages-list ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  margin: 3rem;
  line-height: 4rem;
}
.get-started .languages-list ul li {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 120rem) {
  .get-started .languages-list ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem -10rem;
  }
}

.button {
  text-align: center;
}
@media screen and (min-width: 120rem) {
  .button .button {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
.button a {
  color: #0066B8;
}
.button a:hover {
  color: #0066B8;
  text-decoration: underline;
}
.button .btn {
  padding: 2rem;
  margin: 5rem;
  font-weight: 500;
}

.os {
  padding: 6rem 0;
}
@media screen and (max-width: 64rem) {
  .os__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 120rem) {
  .os__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
}
.os__wrapper .os__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3rem 0;
}
.os__wrapper .os__item img {
  width: 10rem;
  margin-bottom: 2rem;
}
.os__wrapper .os__item a {
  text-align: center;
  font-size: 1.5rem;
  padding: 1.2rem 2rem;
}
.os__wrapper .os__item a i {
  margin-right: 1rem;
}
.os__wrapper .os__item a small {
  font-size: 1rem;
}
.os__wrapper .os__item table:last-child {
  height: 7rem;
}
.os__wrapper .os__item table {
  height: 11rem;
  margin-top: 1rem;
}
.os__wrapper .os__item table tr td:first-child {
  text-align: center;
}
.os__wrapper .os__item table tr td h4 {
  margin-right: 1rem;
  font-weight: 600;
}
.os__wrapper .os__item table tr td a {
  font-size: 1.2rem;
  border-radius: 0.5rem;
  padding: 0 0.3rem;
  margin-right: 0.4rem;
}
.os__wrapper .os__item .os__btn {
  display: flex;
  gap: 0.5rem;
}
.os__wrapper .os__item .os__btn a:first-child {
  padding: 1rem 2.5rem;
}
.os__wrapper .os__item .os__btn a:last-child {
  padding: 1rem 1.5rem;
}
.os__wrapper .os__item:last-child {
  margin-top: -1rem;
}

.features {
  background-color: #f8f8f9;
  padding: 3rem 7.5rem;
  width: 100%;
}
.features__wrapper {
  text-align: center;
}
@media screen and (min-width: 120rem) {
  .features__wrapper .features__head {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
}
.features__wrapper .features__head .features__left {
  margin: 3rem 0;
  margin-bottom: 7rem;
}
.features__wrapper .features__head .features__left h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 500;
}
.features__wrapper .features__head .features__left p {
  font-weight: 100;
}
.features__wrapper .features__head .features__left p a {
  color: #007be0;
}
.features__wrapper .features__head .features__left p a:hover {
  text-decoration: underline;
}
.features__wrapper .features__head .features__right {
  margin: 3rem 0;
  margin-bottom: 7rem;
}
.features__wrapper .features__head .features__right h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 500;
}
.features__wrapper .features__head .features__right h2 a {
  color: #0066B8;
}
.features__wrapper .features__head .features__right h2 a:hover {
  text-decoration-line: underline;
}
.features__wrapper .features__head .features__right p {
  font-weight: 100;
}
@media screen and (min-width: 120rem) {
  .features__wrapper .features__bottom {
    width: 60rem;
    margin: 0 auto;
  }
}
.features__wrapper .features__bottom h2 {
  font-weight: 500;
  color: #747483;
  margin-bottom: 2rem;
}
.features__wrapper .features__bottom p {
  line-height: 3;
  font-size: 1.19rem;
  color: #747483;
}
.features__wrapper .features__bottom p a {
  color: #0066B8;
}
.features__wrapper .features__bottom p a:hover {
  text-decoration-line: underline;
}

.footer {
  background-color: #2C2C32;
}
.footer__wrapper {
  padding: 4rem;
}
@media screen and (min-width: 120rem) {
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: start;
    align-items: center;
    padding: 1rem;
  }
}
.footer__wrapper .footer__left {
  display: flex;
}
.footer__wrapper .footer__left p {
  display: none;
}
@media screen and (min-width: 120rem) {
  .footer__wrapper .footer__left p {
    display: flex;
    color: #FFFFF9;
    margin-right: 2rem;
  }
}
.footer__wrapper .footer__left a:first-child {
  font-weight: 100;
  color: #FFFFF9;
}
.footer__wrapper .footer__left a:nth-child(2) {
  font-weight: 100;
  color: #FFFFF9;
}
.footer__wrapper .footer__left a:nth-child(3) {
  color: #2C2C32;
  font-size: 1rem;
  display: flex;
  gap: 1rem;
  background-color: #fff;
  margin-left: 4px;
  border-radius: 0.6rem;
  align-items: center;
}
.footer__wrapper .footer__left a:nth-child(3) i {
  font-size: 1.4rem;
}
.footer__wrapper .footer__left a:nth-child(3):hover {
  background-color: ligten(#ABABAD, 20);
}
.footer__wrapper .footer__left a:last-child {
  font-size: 1rem;
  color: #2C2C32;
  position: relative;
  background-color: #fff;
  border-radius: 0.6rem;
  margin-left: 0.5rem;
  text-align: center;
  align-items: center;
}
.footer__wrapper .footer__left a:last-child:hover {
  color: #0066B8;
}

.windows {
  display: flex;
  text-align: center;
  margin-top: 4rem;
}
.windows ul {
  display: flex;
  margin-bottom: 0.5rem;
}
.windows li {
  margin-right: 2rem;
}
.windows li a {
  color: #FFFFF9;
  font-size: 1.1rem;
}
.windows li a:hover {
  color: #ffb3ff;
}

.windows-img {
  margin-bottom: 2rem;
}
.windows-img a {
  align-items: center;
  margin-right: 0.5rem;
  font-weight: 500;
  color: #FFFFF9;
}
.windows-img a img {
  width: 9rem;
}
.windows-img p {
  color: #FFFFF9;
  font-size: 1.1rem;
  line-height: 1;
}/*# sourceMappingURL=main.css.map */