.header{
    background-color: $clr-dark;
    width: 100%;
    z-index: 999;
    position: fixed;
    &__wrapper{
        @include mediaQuery($desktop){
            display: flex;
            justify-content: space-between;
        }
        height: 6rem;
    .branding{
        display: flex;
        // justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
        width: 30rem;
        img{
            width: 3rem;
        }
        h3{
            width: 20rem;
            font-size: 1rem;
            
            a{
                color: $clr-light;
                font-size: 1.5rem;
            }
        }
    }
    .header__nav{
        position: absolute;
        top: -100rem;
        left: 0;
        background-color: $clr-dark;
        width: 100vw;
        width: 100%;
        height: 100%;
        transition: .5s ease;
        max-height: 36rem;
        z-index: 2;
        @include mediaQuery($desktop){
            background-color: unset;
            top: 0;
            z-index: unset;
            display: flex;
            position: unset;
            overflow: hidden;
        }
        ul{
            @include mediaQuery($desktop){
                display: flex;
            }
        li{
            margin: 2rem;
            @include mediaQuery($desktop){
            margin: 2rem;
            }
            a{
                color: $clr-light;
                @include mediaQuery($desktop){
                color: $clr-gray;
                font-size: 1.5rem;
                &:hover{
                    color: $clr-light;
                }
                }
            }
        }
    }
    .header__nav2{
        display: flex;
        flex-direction: column;
        color: $clr-light;
        position: relative;
        @include mediaQuery($desktop){
            display: grid;
            @include grid(2, 0rem);
            height: 100%;
            max-height: 7rem;
            position: relative;
        }
        input{
            margin: 0 0 1rem 2rem;
            &::placeholder{
            color: $clr-light;
            }
            @include mediaQuery($desktop){
                background-color: #3D3D42;
                padding: 1.9rem;
                padding-left: 2.5rem;
            }
        }
            a{
                padding: 2rem;
                display: inline-block;
                position: relative;
                
                @include mediaQuery($desktop){
                    font-size: 1.5rem;
                    height: 6rem;
                    padding: 2rem;
                    padding-left: 2.5rem;  
                .fa-arrow-down{
                    position: absolute;
                    top: 1rem;
                    left: .5rem;
                }
                }
                    
            }
                .fa-magnifying-glass{
                    display: none;
                    @include mediaQuery($desktop){
                        display: block;
                        position: absolute;
                        top: 1rem;
                        left: 1.5rem;
                    }
                }
            }
            &.open{
                top: 6rem;
                overflow-y: scroll;
                @include mediaQuery($desktop){
                    max-height: 36rem;
                    overflow-y: hidden;
                }
            }
        }  

        .toggle__menu{
            position: absolute;
            right: 3rem;
            top: 2rem;
            display: block;
            @include mediaQuery($desktop){
                display: none;
            }
            span{
                width: 3.5rem;
                height: .3rem;
                background-color: $clr-light;
                margin-bottom: .5rem;
                display: block;
                border-radius: 4rem;
                transition: .5s ease;
                
            }
        }
    }
        
}
.header{
    box-shadow:rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

